nav {
  width: 5em;
  height: 100vh;
  position: fixed;
  left: -5em;
  background-color: var(--alt-green);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
}
nav:hover {
    left: 0;
}
nav::after {
  content: '☰';
  width: 2em;
  height: 1.5em;
  border-radius: 0 1em 1em 0;
  position: absolute;
  top: 0;
  left: 2.5em;
  font-size: 2em;
  background-color: var(--alt-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  width: 5em;
  position: relative;
  text-decoration: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a span {
  color: var(--black);
  position: relative;
  transition: 0,2s;
}
nav a.ig span {
  font-size: 1.5em;
}
nav a::before {
  content: '';
  width: 0%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: var(--yellow);
  transition: 0.2s;
}
nav a.ig::before {
  background-image: linear-gradient(45deg, #f09433 0%, #f6784c 25%, #ec3753 50%, #dc3376 75%, #cc2898 100%);
}
nav a.ig:hover span {
  color: var(--white);
}
nav a:hover::before {
  width: 100%;
}